<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Barats</title>
</head>

<body>

    <header>
        <p class="promocion">WINTER 22 ~ 12 Cuotas Sin Interés ~ ¡Envíos Gratis con compras superiores a $12.000!</p>
        
        <h2 class="logo">BARATS</h2>
        <div class="caja-header">
            <ul class="nav">
                <li>Tienda</li>
                <li>Crear cuenta</li>
                <li>Iniciar sesión</li>
            </ul>
            <i class="fa fa-shopping-cart" aria-hidden="true" id="carrito"></i>
            <ul class="busqueda">
                <li>HOMBRES</li>
                <li>MUJERES</li>
                <li>NIÑOS/AS</li>
                <li>ACCESORIOS</li>
                <li>REBAJAS</li>
            </ul>
            <form action="" method="" class="barra">
                <input type="text" name="txtBarra" id="barra">
            </form>
            <div class="burger-menu">
                <i class="fa fa-bars" aria-hidden="true" id="burger"></i>
            </div>
        </div>
    </header>
    <main>
        <section>
            <h3>Ofertas</h3>
            <div class="articulo">
                <img  src="/images/calza.jpg" alt="" class="imagen-articulo">
                <p class="descripcion">Calza Mujer</p>
                <p class="precio">$4500</p>
                <p class="promocion-articulo">12 cuotas sin interes</p>
            </div>
            <div class="articulo">
                <img  src="/images/gorra.jpg" alt="" class="imagen-articulo">
                <p class="descripcion">Gorra Hurley</p>
                <p class="precio">$3500</p>
                <p class="promocion-articulo">3 cuotas sin interes</p>
            </div>
            <div class="articulo">
                <img class="imagen-articulo" src="/images/remerarosanike.jpg" alt="">
                <p class="descripcion">Remera Rosa Nike</p>
                <p class="precio">$4500</p>
                <p class="promocion-articulo">6 cuotas sin interes</p>
            </div>
            <div class="articulo">
                <img class="imagen-articulo" src="/images/remeravans.jpg" alt="">
                <p class="descripcion">Remera Vans</p>
                <p class="precio">$3600</p>
                <p class="promocion-articulo">18 cuotas sin interes</p>
            </div>
        </section>
        <section>
            <h3>Destacados</h3>
            <div class="articulo">
                <img class="imagen-articulo" src="/images/vestidomujer1.jpg" alt="">
                <p class="descripcion">Vestido Mujer</p>
                <p class="precio">$6000</p>
                <p class="promocion-articulo">6 cuotas sin interes</p>
            </div>
            <div class="articulo">
                <img class="imagen-articulo" src="/images/zapafloreada.jpg" alt="">
                <p class="descripcion">Zapatilla Floreada VANS</p>
                <p class="precio">$ 12000</p>
                <p class="promocion-articulo">12 cuotas sin interes</p>
            </div>
            <div class="articulo">
                <img class="imagen-articulo" src="/images/zapanikeamarilla.jpg" alt="">
                <p class="descripcion">Zapatilla Nike Amarilla</p>
                <p class="precio">$ 5200</p>
                <p class="promocion-articulo">6 cuotas sin interes</p>
            </div>
            <div class="articulo">
                <img class="imagen-articulo" src="/images/zapanikerosa.jpg" alt="">
                <p class="descripcion">Zapatilla Nike Rosa</p>
                <p class="precio">$ 17500</p>
                <p class="promocion-articulo">3 cuotas sin interes</p>
            </div>
        </section>
    </main>
    <footer>
        <div class="redes">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
        </div>
        <p>J. M. Rosas 556, Funes, Santa FE. 0341 156782564 info@barats.com.ar Copyright BARATS - Ropa y accesorios de Surf - 2022. Todos los derechos reservados
        </p>
    </footer>
</body>

</html>