<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Barats</title>
</head>

<body>
    <header>
        <p class="promocion">Promociones</p>
        <ul class="nav">
            <li>Tienda</li>
            <li>Crear cuenta</li>
            <li>Iniciar sesión</li>
        </ul>
        <h2 class="logo">BARATS</h2>
        <div class="caja-header">
            <i class="fa fa-shopping-cart" aria-hidden="true" id="carrito"></i>
            <ul class="busqueda">
                <li>HOMBRES</li>
                <li>MUJERES</li>
                <li>NIÑOS/AS</li>
                <li>ACCESORIOS</li>
                <li>REBAJAS</li>
            </ul>
            <form action="" method="" class="barra">
                <input type="text" name="txtBarra" id="barra">
            </form>
        </div>
    </header>
    <section>

    </section>
    <footer>
    </footer>
</body>

</html>