@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(135deg, black, white, red, white, black);
    font-family: 'PT Sans', sans-serif;
    background-size: contain;
}

.mainLogin {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    padding-top: 110px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
}

.tituloLogin {
    display: flex;
    width: 100%;
    justify-content: center;
}

.formulario {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.labelLogin {
    display: flex;
    width: 100%;
    padding-bottom: 2%;
    font-weight: bold;
    padding-top: 2%;
}

.inputLogin {
    display: flex;
    width: 100%;
    border: solid 2px black;
}

#boton {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10%;
    justify-content: space-around;
}

.botonLogin {
    background-color: white;
    color: red;
    border-radius: 5px;
    border: 2px solid negro;
    font-size: 1.5rem;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    color: red;
    text-align: center;
    padding: 0% 2% 0% 2%;
    justify-content: center;
    position: relative;
    bottom: 0;
    z-index: 0;
    width: 100%;
}

.redes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 2rem;
    padding: 2% 0% 0% 70%;
    width: 100%;
    justify-content: space-around;
}
