* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
}

.promocion{
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    justify-content: center;
    background-color: aqua;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    justify-content: space-evenly;
    background-color: aqua;
    padding-left: 70%;
}

.logo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
    justify-content: center;
    font-size: 3rem;
}

.caja-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
}

#carrito{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    padding-right: 2%;
}

.busqueda {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-around;
}

.barra {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
}


