@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(135deg, black, white, red, white, black);
    font-family: 'PT Sans', sans-serif;
    background-size: contain;
}

.mainHome {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    z-index: 0;
    padding-top: 110px;
}

.tituloHome {
    display: flex;
    justify-content: center;
    color: black;
    text-align: center;
    height: 5%;
    margin-top: 1%;
}
.sectionHome {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 2% 5% 2% 5%;
    
}

.articulo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: solid 4px black;
    background-color: white;
    margin-bottom: 1%;
}

.imagen-articulo {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 76%;
}

.descripcion {
    display: flex;
    border-top: solid 2px black;
    padding: 3% 2% 3%;
    margin: 0;
    width: 100%;
    font-weight: bold;
    height: 8%;
}

.precio {
    display: flex;
    padding: 3% 2% 3%;
    margin: 0;
    width: 100%;
    height: 8%;
}

.promocion-articulo {
    display: flex;
    padding: 3% 2% 3%;
    margin: 0;
    width: 100%;
    font-size: 0.8rem;
    height: 8%;
}

.containerUsers {
    display: flex;
    background-color: white;
    border: solid 2px black;
    margin-bottom: 2%;
    width: 100%;
    border-radius: 5px;
}


@media (min-width: 361px) {
    .sectionHome {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 2% 5% 2% 5%;
        justify-content: space-around;
    }

    .tituloHome {
        width: 100%;
    }

    .articulo {
        width: 48%;
    }

}

@media (min-width: 769px){
    .sectionHome {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 2% 5% 2% 5%;
        justify-content: space-around;
    }

    .tituloHome {
        width: 100%;
    }

    .articulo {
        width: 24%;
    }
    .imagen-articulo {
        height: 71%;
    }
    .descripcion{
        height: 13%;
    }
    .containerUsers{
        width: 50%;
    }
}

.mainList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    padding-top: 110px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    min-height: 100vh;
}


.descriptionUser {
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 65%;
}

.imgUser {
    display: flex;
    width: 35%;
}

#user{
    color: black
}
