<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head')%>

<body>
    <%- include('./partials/header')%>
        <main class="mainHome">
            <section class="sectionHome">
                <h3 class="tituloHome">Ofertas</h3>
                <div class="articulo">
                    <img src="/images/calza.jpg" alt="" class="imagen-articulo">
                    <p class="descripcion">Calza Mujer</p>
                    <p class="precio">$4500</p>
                    <p class="promocion-articulo">12 cuotas sin interes</p>
                </div>
                <div class="articulo">
                    <img src="/images/gorra.jpg" alt="" class="imagen-articulo">
                    <p class="descripcion">Gorra Hurley</p>
                    <p class="precio">$3500</p>
                    <p class="promocion-articulo">3 cuotas sin interes</p>
                </div>
                <div class="articulo">
                    <img class="imagen-articulo" src="/images/remerarosanike.jpg" alt="">
                    <p class="descripcion">Remera Rosa Nike</p>
                    <p class="precio">$4500</p>
                    <p class="promocion-articulo">6 cuotas sin interes</p>
                </div>
                <div class="articulo">
                    <img class="imagen-articulo" src="/images/remeravans.jpg" alt="">
                    <p class="descripcion">Remera Vans</p>
                    <p class="precio">$3600</p>
                    <p class="promocion-articulo">18 cuotas sin interes</p>
                </div>
            </section>
            <section class="sectionHome">
                <h3 class="tituloHome">Destacados</h3>
                <div class="articulo">
                    <img class="imagen-articulo" src="/images/vestidomujer1.jpg" alt="">
                    <p class="descripcion">Vestido Mujer</p>
                    <p class="precio">$6000</p>
                    <p class="promocion-articulo">6 cuotas sin interes</p>
                </div>
                <div class="articulo">
                    <img class="imagen-articulo" src="/images/zapafloreada.jpg" alt="">
                    <p class="descripcion">Zapatilla Floreada VANS</p>
                    <p class="precio">$ 12000</p>
                    <p class="promocion-articulo">12 cuotas sin interes</p>
                </div>
                <div class="articulo">
                    <img class="imagen-articulo" src="/images/zapanikeamarilla.jpg" alt="">
                    <p class="descripcion">Zapatilla Nike Amarilla</p>
                    <p class="precio">$ 5200</p>
                    <p class="promocion-articulo">6 cuotas sin interes</p>
                </div>
                <div class="articulo">
                    <img class="imagen-articulo" src="/images/zapanikerosa.jpg" alt="">
                    <p class="descripcion">Zapatilla Nike Rosa</p>
                    <p class="precio">$ 17500</p>
                    <p class="promocion-articulo">3 cuotas sin interes</p>
                </div>
            </section>
        </main>
        <%- include('./partials/footer')%>
</body>

</html>