<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head')%>

<body>
    <%- include('./partials/header')%>
        <main class="mainHome">
            <h1>No tienes los permisos requeridos para acceder a esta url</h1>
        </main>
        <%- include('./partials/footer')%>
</body>

</html>