<footer>
    <div class="redes">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
    </div>
    <p>J. M. Rosas 556, Funes, Santa FE. 0341 156782564 info@barats.com.ar Copyright BARATS - Ropa y accesorios
        de Surf - 2022. Todos los derechos reservados
    </p>
</footer>