<header>
    <p class="promocion">WINTER 22 ~ 12 Cuotas Sin Interés ~ ¡Envíos Gratis con compras superiores a $12.000!</p>
    
    <h2 class="logo"><a href="/" >BARATS</a></h2>
    <div class="caja-header">
        <ul class="nav">
            <% if (locals.isLogged){ %>
            <li>MI CUENTA </li>
            <li><img class="imgLogged" src="profileImg/<%= locals.userLogged.image %>" alt=""></li>
            <% } else { %>
            <a href="/users/register"><li>Crear cuenta</li></a>
            <a href="/users/login"><li>Iniciar sesión</li></a>
            <% } %> 
        </ul>
        <i class="fa fa-shopping-cart" aria-hidden="true" id="carrito"></i>
        <ul class="busqueda">
            <a href="/products/hombres"><li>HOMBRES</li></a>
            <a href="/products/mujeres"><li>MUJERES</li></a>
            <a href="/products/ninos"><li>NIÑOS/AS</li></a>
            <a href="/products/accesorios"><li>ACCESORIOS</li></a>
            <li>REBAJAS</li>
        </ul>
        <form action="" method="" class="barra">
            <input type="text" name="txtBarra" id="barra">
        </form>
        <div class="burger-menu">
            <i class="fa fa-bars" aria-hidden="true" id="burger"></i>
        </div>
    </div>
</header>