<header>
    <p class="promocion">WINTER 22 ~ 12 Cuotas Sin Interés ~ ¡Envíos Gratis con compras superiores a $12.000!</p>
    
    <h2 class="logo"><a href="./" >BARATS</a></h2>
    <div class="caja-header">
        <ul class="nav">
            <li>Tienda</li>
            <a href="./register"><li>Crear cuenta</li></a>
            <a href="./login"><li>Iniciar sesión</li></a> 
        </ul>
        <i class="fa fa-shopping-cart" aria-hidden="true" id="carrito"></i>
        <ul class="busqueda">
            <li>HOMBRES</li>
            <li>MUJERES</li>
            <li>NIÑOS/AS</li>
            <li>ACCESORIOS</li>
            <li>REBAJAS</li>
        </ul>
        <form action="" method="" class="barra">
            <input type="text" name="txtBarra" id="barra">
        </form>
        <div class="burger-menu">
            <i class="fa fa-bars" aria-hidden="true" id="burger"></i>
        </div>
    </div>
</header>