<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>

    <body>

        <%- include('../partials/header')%>
            <main class="mainRegister">
                <h2 class="tituloRegister">CREAR CUENTA</h2>
                <!-- <% if(locals.errors) { %>
                    <% errors.forEach((error , index) => { %> -->
                <form action="/users/register" method="POST" class="formulario" enctype="multipart/form-data">
                    <label class="labelRegister" for="name">Nombre y Apellido :</label><input class="inputRegister"
                        type="text" name="name" id="name" ><span class="feedback"></span>
                    <label class="labelRegister" for="email">E-mail :</label><input class="inputRegister" type="email"
                        name="email" id="email" ><span class="feedback"></span>
                    <label class="labelRegister" for="tel">Teléfono :</label><input class="inputRegister" type="num"
                        name="tel" id="tel" ><span class="feedback"></span>
                    <label for="img" class="labelRegister">Imagen de perfil</label><input type="file"
                        class="inputRegister" name="img" id="img" accept="image/*" >
                    <label class="labelRegister" for="password">Contraseña :</label><input class="inputRegister"
                        type="password" name="password" id="password" ><span class="feedback"></span>
                    <label class="labelRegister" for="passwordConfirmed">Confirmar Contraseña :</label><input
                        class="inputRegister" type="password" name="passwordConfirmed" id="passwordConfirmed" >
                    <div id="boton">
                        <button type="reset">Borrar</button>
                        <button type="submit">Enviar</button>
                    </div>
                </form>
                <!-- <% }) %> -->
            </main>
            <%- include('../partials/footer')%>
    </body>

</html>